In [87]:
import pandas as pd

In [88]:
import sqlite3

In [89]:
excel_df = pd.read_excel("teste - dados.xlsx")

In [90]:
excel_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
hora,5000.0,11.5766,6.921049,0.0,6.0,12.0,17.25,23.0
ano de lancamento,5000.0,2015.1498,3.272721,2010.0,2012.0,2015.0,2018.00,2020.0
horas assistidas,5000.0,494.0198,286.937915,0.0,251.0,485.0,740.00,1000.0
usuarios distintos,5000.0,295.4738,183.521299,0.0,142.0,283.5,427.00,789.0

In [91]:
excel_df.dtypes

data                  datetime64[ns]
hora                           int64
titulo                        object
genero                        object
ano de lancamento              int64
pais de produção              object
dispositivo                   object
horas assistidas               int64
usuarios distintos             int64
dtype: object

In [92]:
excel_df.head(10)

,data,hora,titulo,genero,ano de lancamento,pais de produção,dispositivo,horas assistidas,usuarios distintos
0,2021-03-18,2,Temptation In The Attic,Horror,2016,Países Baixos,Web,515,232
1,2021-08-12,13,Fortunes Of Your Garden,Nonfiction,2020,Suíça,Web,240,182
2,2021-07-26,8,Owls Of The Stars,Children,2015,Brasil,TV,263,145
3,2021-08-19,2,Butchers And Bringers,Drama,2010,Coreia do Sul,Mobile,826,380
4,2021-08-09,18,Ruins Of The Forest,Adventure,2020,Países Baixos,TV,558,268
5,2021-07-15,2,Pranks Design,Humor,2013,Japão,Web,445,334
6,2021-10-25,16,Owls Of The Stars,Children,2015,Brasil,Web,404,258
7,2021-10-07,12,Scent Of The Sea,Romance,2013,Alemanha,TV,478,215
8,2021-05-17,20,Leaders Of The Past,Nonfiction,2017,Coreia do Sul,Web,519,312
9,2021-08-09,19,Trinkets In The Hospital,Horror,2015,Brasil,TV,389,214

In [93]:
conn = sqlite3.connect("TESTE_GLOB0_DB.db")

In [94]:
cursor = conn.cursor()

In [95]:
sql_create_table = '''
    CREATE TABLE dts_channel_analytics(
            data TIMESTAMP,
            hora INTEGER,
            titulo TEXT,
            genero TEXT,
            ano_lancamento TEXT,
            pais_producao TEXT,
            dispositivo TEXT, 
            horas_assistidas INTEGER,
            usuarios_distintos INTEGER
    );
'''

In [96]:
ret = cursor.execute(sql_create_table)

In [73]:
excel_sql_relation_columns = {
    "data": "data",
    "hora": "hora",
    "titulo": "titulo",
    "genero": "genero",
    "ano_lancamento": "ano de lancamento",
    "pais_producao": "pais de produção",
    "dispositivo": "dispositivo",
    "horas_assistidas": "horas assistidas",
    "usuarios_distintos": "usuarios distintos"
}

In [82]:
for index, row in excel_df.iterrows():
    cursor.execute(f""" 
    INSERT INTO dts_channel_analytics(data, hora, titulo, genero, ano_lancamento, pais_producao, dispositivo, horas_assistidas, usuarios_distintos) 
    VALUES(
    '{row[excel_sql_relation_columns["data"]]}',
    {row[excel_sql_relation_columns["hora"]]},
    '{row[excel_sql_relation_columns["titulo"]]}',
    '{row[excel_sql_relation_columns["genero"]]}',
    '{row[excel_sql_relation_columns["ano_lancamento"]]}',
    '{row[excel_sql_relation_columns["pais_producao"]]}',
    '{row[excel_sql_relation_columns["dispositivo"]]}',
    {row[excel_sql_relation_columns["horas_assistidas"]]},
    {row[excel_sql_relation_columns["usuarios_distintos"]]}
    )
    """)

In [83]:
res = cursor.execute("select * from dts_channel_analytics limit 10")

In [84]:
res.fetchall()

[('2021-03-18 00:00:00',
  2,
  '\xa0Temptation In The Attic',
  'Horror',
  '2016',
  'Países Baixos',
  'Web',
  515,
  232),
 ('2021-08-12 00:00:00',
  13,
  '\xa0Fortunes Of Your Garden',
  'Nonfiction',
  '2020',
  'Suíça',
  'Web',
  240,
  182),
 ('2021-07-26 00:00:00',
  8,
  '\xa0Owls Of The Stars',
  'Children',
  '2015',
  'Brasil',
  'TV',
  263,
  145),
 ('2021-08-19 00:00:00',
  2,
  '\xa0Butchers And Bringers',
  'Drama',
  '2010',
  'Coreia do Sul',
  'Mobile',
  826,
  380),
 ('2021-08-09 00:00:00',
  18,
  '\xa0Ruins Of The Forest',
  'Adventure',
  '2020',
  'Países Baixos',
  'TV',
  558,
  268),
 ('2021-07-15 00:00:00',
  2,
  '\xa0Pranks Design',
  'Humor',
  '2013',
  'Japão',
  'Web',
  445,
  334),
 ('2021-10-25 00:00:00',
  16,
  '\xa0Owls Of The Stars',
  'Children',
  '2015',
  'Brasil',
  'Web',
  404,
  258),
 ('2021-10-07 00:00:00',
  12,
  '\xa0Scent Of The Sea',
  'Romance',
  '2013',
  'Alemanha',
  'TV',
  478,
  215),
 ('2021-05-17 00:00:00',
  20,
  '\xa0Leaders Of The Past',
  'Nonfiction',
  '2017',
  'Coreia do Sul',
  'Web',
  519,
  312),
 ('2021-08-09 00:00:00',
  19,
  '\xa0Trinkets In The Hospital',
  'Horror',
  '2015',
  'Brasil',
  'TV',
  389,
  214)]

In [85]:
conn.commit()

In [86]:
conn.close()